<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
       .head-title{
      padding: 6px;
      border-radius: 10px;
      display: flex;
      flex-wrap: nowrap;
    }
    </style>

</head>
<body >

  <div class="container"  style="box-shadow: 0px 0px 20px rgba(80, 17, 186, 0.8) ;background-color: white; border-radius: 10px;">
    <div  style="background: white; border-radius: 10px;">
    </div><nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="head-title" >
        <div class="head-title">
        <img src="static/isu-logo.png" alt="" srcset="" style="width: 50px; margin-right: 9px;">
        <h2>Isabela State University</h3>
      </div>
    </div>
  
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-dark " style="border: none;" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary"  style="border: none;" href="/members">Members</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  

      <div class="container" style="box-shadow: 0px 0px 20px rgba(80, 17, 186, 0.8) ;background-color: white; border-radius: 10px; text-align: center; padding-top: 10px; margin-top:  0.4cm; margin-bottom: 1cm; padding-bottom: 1cm; " >
          <div class="container" >
            <div class="row">
              <div class="col-md-12 text-center">
                <h2>Thesis Adviser</h2>
                <hr>
                <img style="width: 185px; height: 200px; "src="static/joe.jpg" class="card-img-top" alt="Thesis Adviser Image">
                <h5>Joe Lagarteja</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">Member 1</h5>
                    <img  style="width: 185px; height: 200px; " src="static/herwen.jpg" class="card-img-top" alt="" style="height: 400px;">
 
                    <hr>
                    <p class="card-text">Herwen Marinay Ballesteross</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">Member 2</h5>
                    <img  style="width: 185px; height: 200px; " src="static/joyce.jpg" class="card-img-top" alt="" style="height: 400px;">
 
                    <hr>
                    <p class="card-text">Joyce Devilar Tamundong</p>
                  </div>
                </div>
              </div>
            </div>
          
          
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
