
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
        border-collapse: collapse; /* Removes the default cell spacing */
        }

        th, td {
        border: 1px solid black; /* Adds a border to the table cells */
        padding: 8px; /* Adds padding to the cells */
          }

        th {
        background-color: #f2f2f2; /* Sets the background color of the header cells */
        font-weight: bold; /* Sets the font weight of the header cells */
         }
    </style>
</head>

<body>

</body>
</html>
